In [ ]:
# sum; finding specific elements from a list (odd number list); minimum and maximum number finidng
# 1-10

In [16]:
def list_sum(numbers):

    addition = 0 
    for n in numbers:
        
         addition+=n
    print(f'your answer is {addition}')
    return addition 
numbers = [1, 2, 3, 4, 5,7]
print(list_sum(numbers))

your answer is 22
22

In [39]:
def find_odd_numbers(lst):
    odd_list = []
    for o in lst:
        if o%2==1:
            odd_list.append(o)
    return odd_list

In [43]:
lst = [1, 2, 3, 4, 5, 6,7,9,13]
find_odd_numbers(lst)

[1, 3, 5, 7, 9, 13]

# [2, 7, 5, 3, 9 ]

In [ ]:
for n in

In [101]:
lst = [2, 7, 5, 3, 1, 9 ]
max(lst)

9

In [81]:
2>2

False

In [87]:
2>=2

True

In [89]:
largest_number = lst[0]  # 2 -> assumed first index contains largest number
smallest_number = lst[0] # 2 ->

In [91]:
largest_number

2

In [93]:
smallest_number

2

In [168]:
largest_number = lst[0]  # 2 -> assumed first index contains largest number
smallest_number = lst[0] # 2 -> 
for n in lst:
    print('Value of n', n)
    
    if n>largest_number:
        # do something
        # 7>2  second iteration
        print(f'Inside largest number fining block ----{n}> {largest_number}-{n>largest_number} --')
        largest_number = n
        print(f'---- Current largest number: {largest_number}')

    if n<smallest_number:    
        #do something
        print(f'Inside smallest number fining block -----{n} < {smallest_number}-{n<smallest_number}--')
        smallest_number=n
        print(f'---Current smallest number { smallest_number}')

Value of n 2
Value of n 7
Inside largest number fining block ----7> 2-True --
---- Current largest number: 7
Value of n 5
Value of n 3
Value of n 1
Inside smallest number fining block -----1 < 2-True--
---Current smallest number 1
Value of n 9
Inside largest number fining block ----9> 7-True --
---- Current largest number: 9

In [118]:
largest_number

9

In [160]:
smallest_number

1

In [ ]:
[2] # largest and smallest

In [55]:
def find_largest_smallest(numbers):
    l_lst=[]
    s_lst=[]
    for l_s in numbers:
        if l_s/10<=1:
        
        else:
            l_s/10
        
# Example usage:
numbers = [3, 5, 1, 9, 2]
largest, smallest = find_largest_smallest(numbers)
print("Largest:", largest)   # Output: 9
print("Smallest:", smallest) # Output: 1

TypeError: 'list' object cannot be interpreted as an integer

In [66]:
def remove_duplicates(lst):
    dupli = []
    for num in lst:
        if num not in dupli:
            dupli.append(num)
    return dupli

In [68]:
lst = [1, 2, 3, 2, 1, 4, 5, 4]
remove_duplicates(lst)

[1, 2, 3, 4, 5]

In [72]:
def flatten_list(nested_lst):
    flat_list = []
    for sublist in nested_lst:
        for num in sublist:
            flat_list.append(num)
    return flat_list
nested_lst = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(flatten_list(nested_lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [210]:
def find_largest_smallest(lst1):
    largest_number = lst1[0] 
    smallest_number = lst1[0]
    for n in lst:
        print('Value of n', n)
    
        if n>largest_number:
            # do something
            # 7>2  second iteration
            print(f'Inside largest number fining block ----{n}> {largest_number}-{n>largest_number} --')
            largest_number = n
            print(f'---- Current largest number: {largest_number}')

        if n<smallest_number:    
            #do something
            print(f'Inside smallest number fining block -----{n} < {smallest_number}-{n<smallest_number}--')
            smallest_number=n
            print(f'---Current smallest number { smallest_number}')
    return largest_number, smallest_number
lst1=[10, 2, 3, 8, 11, 1, 3, 0]

In [212]:
find_largest_smallest(lst1)

Value of n 1
Inside smallest number fining block -----1 < 10-True--
---Current smallest number 1
Value of n 2
Value of n 3
Value of n 8
Value of n 11
Inside largest number fining block ----11> 10-True --
---- Current largest number: 11
Value of n 1
Value of n 3
Value of n 0
Inside smallest number fining block -----0 < 1-True--
---Current smallest number 0

(11, 0)

In [214]:
largest_number

9

In [216]:
smallest_number

1

In [218]:
largest_number, smallest_number = (3,4)

In [220]:
largest_number

3

In [222]:
smallest_number

4

In [46]:
def find_largest_smallest(lst):
    largest_number = lst[0] 
    smallest_number = lst[0]
    for n in lst:
        if n>largest_number:
        
            largest_number = n

        if n<smallest_number:    
            smallest_number=n
    return largest_number
lst1=[10, 2, 3, 8, 11, 1, 3]

In [48]:
find_largest_smallest(lst1)

11

In [238]:
# largest_number, smallest_number = (11,0)
largest_number, smallest_number = find_largest_smallest(lst1)

In [240]:
largest_number

11

In [242]:
smallest_number

0

In [78]:
def larg(lst):
    sorted=[]
    smallest_number = lst1[0]
    for n in lst:
        if n<smallest_number:    
            smallest_number=n
            sorted.append(smallest_number)
    return sorted
lst=[2,3,5,6,44,21]

In [94]:
lst1

[10, 2, 3, 8, 11, 1, 3]

In [96]:
lst1.remove(3)

In [102]:
sorted_list = []
def find_largest_smallest(lst1):
    largest_number = lst1[0] 
    smallest_number = lst1[0]
    number_of_iteration = len(lst1)-1
    # for i in range(number_of_iteration):
    while lst1:
        for n in lst1:
            if n<smallest_number:    
                smallest_number=n
         #append the value into sorted list
        print(smallest_number)
        
        #sorted_list.append(smallest_number[0])
         #remove the value from actual list
        lst1.remove(smallest_number)
lst1=[10, 2, 3, 8, 11, 1, 3, 0]

print(find_largest_smallest(lst1))

0
0

ValueError: list.remove(x): x not in list

In [104]:
larg(lst)

[2]

In [3]:
def small(lst):
    smallest_number = lst[0]
    for n in lst:
            if n<smallest_number:    
                smallest_number=n
    return smallest_number


lst=[3,5,4,67,2,7]

In [96]:
small(lst)

<function small at 0x0000024C291C9800>

In [82]:
lst=[3,5,4,67,2,7]
sorted_list = []
while lst:
    sm = small(lst)
    print(sm)
    sorted_list.append(sm)
    lst.remove(sm)
    print(sorted_list)

2
[2]
3
[2, 3]
4
[2, 3, 4]
5
[2, 3, 4, 5]
7
[2, 3, 4, 5, 7]
67
[2, 3, 4, 5, 7, 67]

In [7]:
sorted_list

[2, 3, 4, 5, 7, 67]

In [7]:
lst=[3,5,2,4,6,8,9,10]

def small(lst):
    smallest_number = lst[0]
    for n in lst:
            if n<smallest_number:    
                smallest_number=n
    return smallest_number
sorted_list = []
for i in range(len(lst)):
    sm = small(lst)
  
    sorted_list.append(sm)
    print(sm)
    lst.remove(sm)
    print('remaining list', lst)
    print('sorted list', sorted_list)

2
remaining list [3, 5, 4, 6, 8, 9, 10]
sorted list [2]
3
remaining list [5, 4, 6, 8, 9, 10]
sorted list [2, 3]
4
remaining list [5, 6, 8, 9, 10]
sorted list [2, 3, 4]
5
remaining list [6, 8, 9, 10]
sorted list [2, 3, 4, 5]
6
remaining list [8, 9, 10]
sorted list [2, 3, 4, 5, 6]
8
remaining list [9, 10]
sorted list [2, 3, 4, 5, 6, 8]
9
remaining list [10]
sorted list [2, 3, 4, 5, 6, 8, 9]
10
remaining list []
sorted list [2, 3, 4, 5, 6, 8, 9, 10]

In [13]:
lst=[3,5,2,4,6,8,9,10]


sorted_list = []
for i in range(len(lst)) :# range(10)
    sm = small(lst)
  
    sorted_list.append(sm)
    print(sm)
    lst.remove(sm)
    print('remaining list', lst)
    print('sorted list', sorted_list)

2
remaining list [3, 5, 4, 6, 8, 9, 10]
sorted list [2]
3
remaining list [5, 4, 6, 8, 9, 10]
sorted list [2, 3]
4
remaining list [5, 6, 8, 9, 10]
sorted list [2, 3, 4]
5
remaining list [6, 8, 9, 10]
sorted list [2, 3, 4, 5]
6
remaining list [8, 9, 10]
sorted list [2, 3, 4, 5, 6]
8
remaining list [9, 10]
sorted list [2, 3, 4, 5, 6, 8]
9
remaining list [10]
sorted list [2, 3, 4, 5, 6, 8, 9]
10
remaining list []
sorted list [2, 3, 4, 5, 6, 8, 9, 10]

In [9]:
lst=[3,5,2,4,6,8,9,10,1]
list_length = len(lst)
for i in range(list_length):
    print(f' value of {i} index ', lst[i])
    number_of_comparison = list_length - 1
    for j in range(number_of_comparison):
        if lst[j] > lst[j+1]:
            lst[j+1],lst[j] = lst[j] ,lst[j+1] 
            
            
    number_of_comparison = number_of_comparison - 1  
lst

 value of 0 index  3
 value of 1 index  2
 value of 2 index  4
 value of 3 index  5
 value of 4 index  1
 value of 5 index  6
 value of 6 index  8
 value of 7 index  9
 value of 8 index  10

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [17]:
lst=[3,5,2,4,6,8,9,10]


sorted_list = []
for i in lst :# range(10)
    sm = small(lst)
  
    sorted_list.append(sm)
    print(sm)
    lst.remove(sm)
    print('remaining list', lst)
    print('sorted list', sorted_list)

2
remaining list [3, 5, 4, 6, 8, 9, 10]
sorted list [2]
3
remaining list [5, 4, 6, 8, 9, 10]
sorted list [2, 3]
4
remaining list [5, 6, 8, 9, 10]
sorted list [2, 3, 4]
5
remaining list [6, 8, 9, 10]
sorted list [2, 3, 4, 5]