In [58]:
teachers_list = [[ 'Alex', 32],[ 'Patrick', 40], ['Elder', 45]]
print(teachers_list[0][1])

32

In [7]:
teachers_list[2]

['Elder', 45]

In [15]:
for x in teachers_list:
    print(x)

['alex', 32]
['patrick', 40]
['Elder', 45]

In [28]:
for x in teachers_list:
    # if  isinstance(x,int): 
        print(type(x))
        print(type(x[1]))
        print(x[1])

<class 'list'>
<class 'int'>
32
<class 'list'>
<class 'int'>
40
<class 'list'>
<class 'int'>
45

## Aaccessing all names from each individual list inside nested list

In [32]:
for x in teachers_list:
        print(x[0])

alex
patrick
Elder

In [64]:
teachers_list.append(['Sabari', 30])

In [66]:
teachers_list

[['alex', 32], ['Patrick', 40], ['Elder', 45], ['Sabari', 30]]

In [60]:
for x in teachers_list:
        print(f'{x[0]} is {x[1]} years old')

alex is 32 years old
Patrick is 40 years old
Elder is 45 years old

In [ ]:
aplp=32
print(f'aplp')

In [80]:
car =[['bmw',2450],['toyta',5050],['suzuki',3456]]
for brand in car:


    print(f'A {brand[0]} with {brand[1]} miles on it')

A bmw with 2450 miles on it
A toyta with 5050 miles on it
A suzuki with 3456 miles on it

In [83]:
numbers = [1,2,3,5]
sum(numbers)

11

In [85]:
addition = 0

for i in numbers:
    addition += i
    print(addition)
# in first iteration 0+1
# in first iteration 0+1 + 2
# in first iteration 0+1 +2 +3
# in first iteration 0+1 +2 +3 +5

1
3
6
11