# Accessing Elements 
Index starts from zero in arra  [Index_0_element, Index_1_element, Index_2_element]

In [33]:
teachers_list = [ 'alex', 32, 'patrick', 40, 'Elder', 45]

In [4]:
alex_age = teachers_list[1]

## Get all the ages not names

In [ ]:
for i in teachers_list:
        # print(i)
        if isinstance(i,int):
            print(i)

## Just print all the names

In [52]:
for i in teachers_list:
    if isinstance(i,str):
        print(i)

alex
patrick
Elder

In [13]:
fisinstance(2,int)

True

In [19]:
isinstance(0.9,float)

True

In [21]:
isinstance('mango',str)

True

In [35]:
if isinstance(i,int):
    print('age')
else:
    print('name')

age

In [54]:
teachers_list

['alex', 32, 'patrick', 40, 'Elder', 45]

## Accessing list element by index

- [starting_index, upto_last_index_not_the_last_one]

In [70]:
teachers_list[0:-2]

['alex', 32, 'patrick', 40]

## Get first two teachers from the teachers' list

In [88]:
 teachers_list[0:2]

['alex', 32]

In [90]:
for i in teachers_list[0:4]:
  
    if isinstance(i, str):
        print(i)

alex
patrick

In [ ]:
teachers_list1 = [ ['alex', 32], ['patrick', 40], ['Elder', 45]]
for x in